#todoapp ul {
    list-style-type: none; /* hides bullet points from todo list */
}
#todo-list input.edit {
    display: none; /* hides input box*/
}
#todo-list .editing label {
    display: none; /* hides label text when .editing*/
}    
#todo-list .editing input.edit {
    display: inline; /* shows input text box when .editing*/
}    
#title{
    font-family: 'Baloo Paaji', cursive;
    font-size: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
}
#todoapp{
    background-color: #f2f2f3;
    border-radius: 5px;

    
}
#base{
    position: relative;
    margin: auto;
    background-color: #e5e5e6;
    border-radius: 5px;
    width:25%;
    padding: 3px;
    display: block;
    

}
#todo-list{
    margin-bottom:0
}
#new-todo{
    width:98%;
    display: block;
    margin : 0 auto;
}
#options{
    text-align: center;
}