#todoapp ul {
  list-style-type: none;
}
#todo-list input.edit { /* hide edit input box */
  display: none;
}
#todo-list .editing label { /* hides label text when editing*/
  display: none;
}
#todo-list .editing input.edit { /* shows input text when editing*/
  display: inline;
}
